################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SQL2AEH/.vs/SQL2AEH/v15
/SQL2AEH/SQL2AEH/bin/Debug
/SQL2AEH/SQL2AEH/obj/Debug
